<!DOCTYPE html>
<html>
<head>
	<title>Web Server Homepage</title>
	<link rel="stylesheet" href=<%=stylesheetPath%>>

</head>
<body>

	<h1 class="title"> Web Server Homepage</h1>

	<div class="grid-container">

		<a href="<%=signuplink%>"><%=linkName%></a>
		<a href="partnerlogin">PartnerPortal</a>
	</div>

</body>
</html>
