<!DOCTYPE html>
<html>
<head>
	<title> Signup Form </title>

</head>
<body>

	<h1> Signup Form</h1>

	<div>
		<form action="submit" method="get">
			<label>Name:
			<input type="text" id="name" name="name">
			<input type="submit">

		</form>
			
	</div>

</body>
</html>
